.rankingContent {
  padding: 20px 0;
  max-width: 600px;
  margin: auto;

  .rankingCard {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 20px;

    &.active {
        background-color: $lightGreen;
    }

    .rankingAvatar {
      width: 40px;
      height: 40px;
      background-color: gray;
      border-radius: 50%;
    }

    .rankingName {
      font-family: "Bree Serif", sans-serif;
      color: #47525e;
      font-size: 18px;
    }

    .rankingPosition,
    .rankingPoints {
      font-family: "Bree Serif", sans-serif;
      color: #47525e;
      font-size: 20px;
    }
  }
}
