.rankingHeader {
  background-color: $green;

  .rankingHeaderTitle {
    color: white;
    font-family: "Bree Serif", sans-serif;
    text-align: center;
    max-width: 600px;
    margin: auto auto 20px;
  }

  .rankingHeaderButtons {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      color: white;
      font-size: 20px;
      font-family: "Lato", sans-serif;

      &.backButton {
        &:before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          border-top: 3px solid white;
          border-left: 3px solid white;
          transform: rotate(-45deg);
        }
      }

      &.changeButton {
          background-color: #fff;
          border-radius: 50px;
          color: #343f4b;
          font-size: 12px;
          padding: 7px 20px;
      }
    }
  }

  .rankingInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20px 30px;
    max-width: 600px;
    margin: auto;

    .rankingPosition {
      text-align: center;
      color: white;
      font-family: "Bree Serif", sans-serif;
      font-size: 40px;
      place-self: center;

      span {
        text-decoration: solid;
      }
    }

    .rankingAvatar {
      width: 100px;
      height: 100px;
      background-color: gray;
      border-radius: 50%;
      margin: auto;
    }

    .rankingPoints {
      text-align: center;
      color: white;
      font-family: "Bree Serif", sans-serif;
      font-size: 26px;
      line-height: 24px;
      place-self: center;
      display: flex;
      flex-direction: column;

      span {
        font-size: 13px;
      }
    }
  }
}

.rankingContent {
  padding: 20px 0;
  max-width: 600px;
  margin: auto;

  .rankingCard {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 20px;

    &.active {
        background-color: #7baa4a3d;
    }

    .rankingAvatar {
      width: 40px;
      height: 40px;
      background-color: gray;
      border-radius: 50%;
    }

    .rankingName {
      font-family: "Bree Serif", sans-serif;
      color: #47525e;
      font-size: 18px;
    }

    .rankingPosition,
    .rankingPoints {
      font-family: "Bree Serif", sans-serif;
      color: #47525e;
      font-size: 20px;
    }
  }
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
  padding: 0 20px;

  .tab {
    color: #343f4b;
    padding: 8px 20px;
    background-color: #7baa4a3d;
    border: 2px solid #7baa4a;
    border-radius: 30px;
    font-size: 14px;
    font-family: Lato, sans-serif;

    &.activeTab {
      background-color: #7baa4a;
      color: white;
      font-weight: 600;
    }
  }
}
